/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
  scroll-behavior: smooth;

}
html{
  font-size: 62.5%;
}
.transition{
  animation: fade 0.5s ease-in-out;
}

/* #popup {
  position: fixed;
  bottom: 8%;
  left: 59%;
  transform: translateX(-50%);
  padding: 10px;
  color: #7B4AE2;
  border-radius: 5px;
  opacity: 0;
  transition: ease-in-out 0.3s ease-in-out;
  font-weight: 400;
}
#popup.show {
  transition: ease-in-out 0.3s ease-in-out;
  opacity: 1;
}
#popuphero {
  position: fixed;
  top: 1%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  padding: 10px;
  color: #7B4AE2;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-weight: 400;
}
#popuphero.show {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
} */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}